.custom-map-container{
    width: 735px !important;
    height: 500px !important;
}

@media only screen and (max-width: 767px){
    .custom-map-container{
        width: 330px !important;
        margin-top:20px;
    }
}